.container {
	z-index: 2;
	left: 20px;
	top: 20px;

	position: fixed;
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.logo {
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
}

.container > div {
	padding: 10px;
	display: inline-block;
}

.container > div:last-child {
	border-left: 1px #eee solid;
}
