.container {
	z-index: 2;
	top: 20px;
	right: calc(50% - 117px);
	position: fixed;
}

.bar {
	overflow: hidden;
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.bar div {
	padding: 10px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
	border-left: 1px #eee solid;
}

.bar div:first-child {
	border: 0;
}

.selected {
	color: white;
	background: black;
}
