.container {
	top: -10px;
	height: 10px;
	position: fixed;
	pointer-events: none;
	border: 1px var(--color-blue) solid;
}

.selectorBox {
	top: 0px;
	height: 0px;
	position: fixed;
	pointer-events: none;
	border: 1px var(--color-blue) solid;
}
