.container {
	z-index: 2;
	left: 180px;
	top: 20px;
	opacity: 0.3;
	pointer-events: none;
	position: fixed;
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.container div {
	padding: 10px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}

.container div:last-child {
	border-left: 1px #eee solid;
}
