.container {
	cursor: default;
	position: relative;
	display: inline-block;
	border: 1px transparent solid;
}

.selected {
	border-color: var(--color-blue);
}

.selected *[contentEditable="true"] {
	cursor: text;
}

.container * {
	-webkit-user-drag: none;
	user-select: none;
}

.container img {
	width: 100%;
	object-fit: cover;
}

.debug {
	position: absolute;
	top: 40px;
	left: 0;
	font-size: 10px;
}
